

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: 	hwb(236 36% 53%);
    background-color: hwb(36 98% 0%);
    width: 100%;

}

/* Header and Nav section */

.header-section {
    padding: 1.8rem 0.7rem;
    display: block;
    background-color: hwb(36 98% 0%);
    width: 100%;
}



.mobile-nav {
    top: 2.5rem;
    right: 3.2rem;
    position: absolute;
}

.icon-menu {
    z-index: 100;
}

.icon-menu:hover {
    cursor: pointer;
}




.side-nav {
padding-top: 7rem;
   position: absolute;
   top: 0;
   right: 0;
    background-color: hsl(36, 100%, 99%);
    color: 	hsl(240, 100%, 5%);
    font-size: 1.4rem;
    z-index: 99;
    width: 70%;
    height: 100vh;
    display: block;
}

.side-nav ul {
    list-style-type: none;
    line-height: 4rem;
}

.menu-close {
    position: absolute;
    top: 2rem;
    right: 3rem;
}


/* End of Header and Nav section */

/* Hero Section */

.hero-section {
    margin: 0 1rem;
}

.mobile-image {
width: 100%;
object-fit: cover;
}

.main-heading {
    color: hsl(240, 100%, 5%);
    font-size: 3.5rem;
    margin-bottom: 0.4rem;
}

.main-description {
    font-size: 1rem;
    line-height: 1.9rem;
    color: 	hsl(236, 13%, 42%);
}

/* End of Hero Section */


/* Read More Button */
.read-more-btn {
    background-color: hsl(5, 85%, 63%);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.4rem;
    color: 	hsl(36, 100%, 99%);
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 3.2rem;
    min-width: 210px;
    letter-spacing: 0.4rem;
}

/* New Stories Section */
.stories-section {
    background-color: hsl(240, 100%, 5%);
    padding: 0 1.2rem;
    margin: 0 1rem;
}

.stories-heading {
    color: hsl(35, 77%, 62%);
    font-size: 1.9rem;
    padding-top: 1.8rem;
    margin-bottom: 0;
}


.new-story {
    padding: 1.3rem 0;
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.new-story:last-of-type {
    border: none;
}

.redrum {
    background-color: red !important;
}


.story-subheading {
    color: hsl(36, 100%, 99%);
    font-size: 1.2rem;
}

.story-description {
    color: hsl(233, 8%, 79%);
}

/* End of New Stories Section */


/* Feature articles section */

.feature-articles {
    margin-top: 3rem;
    margin-right:1rem;
    margin-left: 1rem;
}

.article-heading {
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
   
}

.article-subheading {
    color: hsl(240, 100%, 5%);
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.feature-story {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0.4rem 0;
    margin-bottom: 1.6rem;
}

.feature-story-image-container {
   flex: 1;
   margin-right: 0.5rem;
}

.feature-story-image {
    height: 127px;
}

.feature-story-text-container {
   padding-top: 0.2rem;
   padding-bottom: 0.6rem;
   flex: 2.2;
   max-height: 127px;
}


.article-description {    
color: hsl(236, 13%, 42%);
font-size: 1rem;
padding: 0;
margin-top: 0.5rem;
line-height: 1.6rem;

}
/* End of feature articles section */



/* Desktop Styles */

@media (min-width: 1100px) {
  

body {
 display: flex;
 justify-content: center;
 align-items: center;
}

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.7fr 2.5fr 1fr;
        grid-template-areas: 
        "logo menu menu"
        "main main new"
        "stories stories stories";
        max-width: 1110px;
    }

    .mobile-nav {
        display: none;
    }

    .header-section {
        max-width: 1110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
    }

    .logo-container {
        grid-area: logo;
    }

    .side-nav {
        padding-top: 0;
        display: inline-block;
        position: static;
       grid-area: menu;
        max-height: 100px;

    }

    .menu-close {
        display: none;
    }

    .side-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
    }

    .side-nav ul li {
     margin-right: 2rem;
    }

    .hero-section {
        grid-area: main;
    }

    .hero-text-container {
        display: flex;
    }

    .hero-heading-container {
        width: 50%;
        padding-right: 1rem;
    }

    .main-heading {
        font-size: 3.5rem;
    }

    .hero-paragraph-container {
        width: 50%;
        padding-top: 1rem;
        margin-bottom: 0;
    }

    .read-more-btn {
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 1.2rem;
    }


    .stories-section {
        grid-area: new;
    }

    .feature-articles {
        grid-area: stories;
        display: flex;
    }


}